/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');


:root {
    --first-color: #e6e6e6;
    --second-color: #131313;
    --third-color: #b82c80;
  }
  

body {
    font-family: 'Amaranth', sans-serif;
    overflow-x: hidden;
    background-color: var(--first-color);
}

.bold {
    font-style: bold;
    text-shadow: 0.5px 0.5px var(--second-color);
}

#lyra{
    font-size: 20px;
    font-family: 'Jacques Francois Shadow', sans-serif;

}


/*===================HEADER==========================*/

.tel{
    text-decoration: none;
    color: var(--first-color);
}

.tel:hover{
    color: var(--first-color);
    text-shadow: 1px 1px 1px var(--first-color);
}

 #menu a, button{
     font-size: 19px !important;
    
 }

 #menu a{
     color:var(--first-color);   
 }

 #menu a:hover{
    background-color:#80aa86;
}

